<h1><i class="fa fa-folder-open" aria-hidden="true"></i> Категории товаров</h1>
<table class="table">
  <thead>
    <tr>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <%= render @product_types %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
<br>
<%= link_to "Добавить категорию товаров", new_product_type_path %>
