<% @order_table.each do |order_table| %>
  <tr>
    <% if current_user.company.products.where(asc: order_table.product_asc).present? %>
      <td>Наименование: <%= current_user.company.products.where(asc: order_table.product_asc).first.title %></td>
    <% else %>
      <td>Пропал товар, нашедшему вернуть</td>
    <% end %>
    <td>Цена: <%= order_table.price %></td>
    <td>Количество: <%= order_table.count %></td>
    <td>Сумма: <%= order_table.cost %></td>
  </tr>
<% end %>
