<% if current_user.admin? %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.office %></td>
    <td>
      <div class="btn-group btn-group-xs" role="group" aria-label="...">
        <%= link_to 'Удалить', user, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-default" %>
      </div>
    </td>
  </tr>
<% else %>
  <p>Все в сад</p>
<% end %>
