<h1><i class="fa fa-users" aria-hidden="true"></i> Торговые агенты</h1>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>e-mail</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
<br>
<%= link_to "Создать пользователя", new_user_path %>
