<h1><i class="fa fa-users" aria-hidden="true"></i> Торговые агенты</h1>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>e-mail</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<br>
<%= link_to "Домой", root_path, class: 'btn btn-default btn-large' %>
<%= link_to "Создать пользователя", new_user_path, class: 'btn btn-primary btn-large' %>
