<tr>
  <% if current_user.company.price_types.where(asc: price_list.price_type_asc).present? %>
    <td><%= current_user.company.price_types.where(asc: price_list.price_type_asc).first.title %></td>
  <% else %>
    <td>Тип цен для данной цены не задан</td>
  <% end %>
  <% if current_user.company.products.where(asc: price_list.product_asc).present? %>
    <td><%= current_user.company.products.where(asc: price_list.product_asc).first.title %></td>
  <% else %>
    <td>Товар для данной цены отсутствует</td>
  <% end %>
  <td><%= price_list.price %></td>
</tr>
