<tr>
  <td><%= price_list.price_type.title %></td>
  <td><%= price_list.product.title %></td>
  <td><%= price_list.price %></td>
  <% if price_list.load_event.present? %>
    <td><%= price_list.load_event.loading %></td>
  <% else %>
    <td>Что-то наебнулось</td>
  <% end %>
</tr>
