<h1><i class="fa fa-money" aria-hidden="true"></i> Цены</h1>
<table class="table">
  <thead>
    <tr>
      <th>Тип цен</th>
      <th>Товар</th>
      <th>Цена</th>
      <th>Дата загрузки</th>
    </tr>
  </thead>
  <tbody>
    <%= render @price_lists %>
  </tbody>
</table>
<%= will_paginate @price_lists %>
<br>
<%= link_to "Домой", root_path %>
