<p><strong>Данные о компании</strong></p>
<p>Наименование: <%= @company.name %></p>

<%= link_to 'Домой', root_path, class: 'btn btn-default btn-large' %>
<%= link_to 'Редактировать', edit_company_path, class: 'btn btn-primary btn-large' %>
