<h1><i class="fa fa-folder-open-o" aria-hidden="true"></i> Группы товаров</h1>
<table class="table">
  <thead>
    <tr>
      <th>Название группы</th>
      <th>Название категории</th>
    </tr>
  </thead>
  <tbody>
    <%= render @product_groups %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
<br>
<%= link_to "Добавить группу товаров", new_product_group_path %>
