<h1><i class="fa fa-exchange" aria-hidden="true"></i> Загрузка данных</h1>
<table class="table">
  <thead>
    <tr>
      <th>Когда грузили</th>
    </tr>
  </thead>
  <tbody>
    <%= render @load_events %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
