<h1><i class="fa fa-calculator" aria-hidden="true"></i> Типы цен</h1>
<table class="table">
  <thead>
    <tr>
      <th>КУС</th>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <%= render @price_types %>
  </tbody>
</table>
<%= will_paginate @price_types %>
<br>
<%= link_to "Домой", root_path %>
