<h1><i class="fa fa-retweet" aria-hidden="true"></i> Маршруты</h1>

<table class="table">
  <thead>
    <tr>
      <th>Торговый агент</th>
      <th>День недели</th>
      <th>Торговая точка</th>
      <th>Порядковый номер</th>
    </tr>
  </thead>
  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<%= will_paginate @routes %>
<br>
<%= link_to "Домой", root_path %>
<br>
<%= link_to "Создать маршрут", new_route_path %>
<br>

