<h1>Создать маршрут</h1>

<hr>

<h3>Осталось нераспределенных контрагентов: <%= current_user.company.shops.includes(:routes).where(routes: { shop_id: nil }).count %></h3>

<hr>

<%= render 'form', route: @route %>

<%= link_to 'Назад', routes_path %>
