<tr>
  <td><%= brand.title %></td>
  <td><%= link_to 'Редактировать', edit_brand_path(brand), class: "btn btn-info" %></td>
  <td><%= link_to 'Удалить', brand, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-danger" %></td>
</tr>
