<tr>
  <td><%= brand.accounting_system_code %></td>
  <td><%= brand.title %></td>
  <td><div class="btn-group btn-group-xs" role="group" aria-label="...">
    <%= link_to 'Изменить', edit_brand_path(brand), class: "btn btn-default" %>
    <%= link_to 'Удалить', brand, method: :delete, data: { confirm: 'Вы уверены?'}, class: "btn btn-default" %>
  </div></td>
</tr>
