<h1><i class="fa fa-language" aria-hidden="true"></i> Бренды</h1>
<table class="table">
  <thead>
    <tr>
      <th>КУС</th>
      <th>Название</th>
    </tr>
  </thead>
  <tbody>
    <%= render @brands %>
  </tbody>
</table>
<br>
<%= link_to "Домой", root_path %>
