<h1><i class="fa fa-language" aria-hidden="true"></i> Иерархия товаров</h1>
<table class="table">
  <thead>
    <tr>
      <th>КУС</th>
      <th>Название</th>
      <th>Код родителя</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
<br>

<%= link_to "Домой", root_path %>

